/* add css module styles here (optional) */
* {
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
  text-align: center;

}

.button {
  margin: 15px;
  padding: 10px;
  border: 2px solid #000;
  font-size: 25px;
  text-align: center;
  text-transform: capitalize;
  background: none;
}

.primary {
  background: #0275d8;
  border: none;
}

.dashed {
  border-style: dashed !important;
}

.text {
  border: none !important;
}

.link {
  border: none;
  color: #0275d8;
  text-decoration: none;
}